<columns class="footer" small="12" large="12">
  <row>
    <columns small="12" large="5">
      <a href="https://www.facebook.com/Webike.Team.Norick.Yamaha?fref=ts" target="_blank"><img src="http://img-webike-370429.c.cdn77.org/gcm/th/e_newsletter/mZh4Bk.jpg" alt="Team norick facebook" width="100%"></a>
    </columns>
    <columns small="12" large="7">
      <row>
        <columns small="12" large="3">
          <a href="https://www.facebook.com/Webike-Thailand-759414304187316/?fref=ts" target="_blank"><img src="http://img-webike-370429.c.cdn77.org/gcm/th/e_newsletter/facebook.png" alt="facebook icon" width="100%"></a>
        </columns>
        <columns small="12" large="3">
          <a href="https://www.youtube.com/channel/UCd7TgDwLsSnjDtb6C2xVoUQ" target="_blank"><img src="http://img-webike-370429.c.cdn77.org/gcm/th/e_newsletter/youtube.png" alt="youtube icon" width="100%"></a>
        </columns>
        <columns small="12" large="3">
          <a href="https://twitter.com/webikethailand" target="_blank"><img src="http://img-webike-370429.c.cdn77.org/gcm/th/e_newsletter/twitter.png" alt="twitter icon" width="100%"></a>
        </columns>
        <columns small="12" large="3">
          <a href="https://page.line.me/webikethailand" target="_blank"><img src="http://img-webike-370429.c.cdn77.org/gcm/th/e_newsletter/icon-line.png" alt="line icon" width="100%"></a>
        </columns>
      </row>
      <row>
        <columns small="12" large="12">
          <a href="http://thai.webike.net/contact_us.html?utm_source=webikestyle&utm_medium=th_motonews&utm_campaign=[date]" target="_blank">
            Contact us  |  
          </a>
          <a href="http://thai.webike.net/index.php?main_page=unsubscribe" target="_blank">
            Unsubscribe
          </a>
        </columns>
      </row>
    </columns>
  </row>
</columns>