<columns class="h-sub" small="12" large="12">
  <row>
    <columns class="bd-box bd-r-sm" small="12" large="4">
      <a href="http://thai.webike.net/news/th/history-of-bikers-jacket.html?utm_source=webikestyle&utm_medium=th_motonews&utm_campaign=[date]" target="_blank">
        <img src="http://img-webike-370429.c.cdn77.org/gcm/th/email/Moto_news/20170227-2.png" alt="Hot news 2">
        <h6><b>ประวัติเสื้อแจ๊คเก็ต/เสื้อกั๊กไบค์เกอร์ เท่ห์อย่างมีสไตล์</b></h6>
        <p>เคยสงสัยกันรึเปล่าเสื้อแจ๊คเก็ตแขนยาวที่เราใส่ๆกันมีประวัติเป็นมาอย่างไร แล้วทำไมถึงกลายร่างมาเป็นเสื้อกั๊กที่แก๊งมอเตอร์ไซค์หลายๆ...</p>
      </a>
      <button href="http://thai.webike.net/news/th/history-of-bikers-jacket.html?utm_source=webikestyle&utm_medium=th_motonews&utm_campaign=[date]" class="small expanded" target="_blank">อ่านเพิ่มเติม</button>
    </columns>
    <columns class="bd-box bd-r-sm" small="12" large="4">
      <a href="http://thai.webike.net/news/th/r-nine-t-2017-whats-new.html?utm_source=webikestyle&utm_medium=th_motonews&utm_campaign=[date]" target="_blank">
        <img src="http://img-webike-370429.c.cdn77.org/gcm/th/email/Moto_news/20170227-3.png" alt="Hot news 3">
        <h6><b>R Nine T 2017 ตัวใหม่นี้ มีอะไรน่าสนใจบ้าง</b></h6>
        <p>ตอนนี้ R Nine T ตัวใหม่ปี 2017 เริ่มจะมีเปิดออกมาจำหน่ายแล้วในบางประเทศ อย่างในญี่ปุ่นก็มีการกำหนดไว้ให้เป็นวันศุกร์ที่ 24 กุมภาพันธ์นี้...</p>
      </a>
      <button href="http://thai.webike.net/news/th/r-nine-t-2017-whats-new.html?utm_source=webikestyle&utm_medium=th_motonews&utm_campaign=[date]" class="small expanded" target="_blank">อ่านเพิ่มเติม</button>
    </columns>
    <columns class="bd-box" small="12" large="4">
      <a href="http://thai.webike.net/news/th/supercharged-hesketh-motorcycle.html?utm_source=webikestyle&utm_medium=th_motonews&utm_campaign=[date]" target="_blank">
        <img src="http://img-webike-370429.c.cdn77.org/gcm/th/email/Moto_news/20170227-4.png" alt="Hot news 4">
        <h6><b>พุ่งทะยาน 250 แรงม้าไปกับเครื่อง 2100cc ซุปเปอร์ชาร์จ</b></h6>
        <p>เป็นรถซุปเปอร์ชาร์จ V-Twin ขนาด 2100cc จากอังกฤษภายใต้แบรนด์ Hesketh ที่เราอาจจะไม่ค่อยคุ้นหูกันซัก...</p>   
      </a>
      <button href="http://thai.webike.net/news/th/supercharged-hesketh-motorcycle.html?utm_source=webikestyle&utm_medium=th_motonews&utm_campaign=[date]" class="small expanded" target="_blank">อ่านเพิ่มเติม</button>
    </columns>
  </row>
</columns>
