<columns small="12" large="12">
  <row>
    <columns small="12" large="12">
      <a href="http://thai.webike.net/news/th/%E0%B8%AD%E0%B8%A2%E0%B9%88%E0%B8%B2%E0%B8%A1%E0%B8%B1%E0%B8%A7%E0%B8%A3%E0%B8%AD%E0%B8%8A%E0%B9%89%E0%B8%B2-%E0%B8%AB%E0%B8%A1%E0%B8%A7%E0%B8%81-deadpool-%E0%B9%81%E0%B8%A5%E0%B8%B0-ghost-rider.html?utm_source=webikestyle&utm_medium=th_motonews&utm_campaign=[date]" target="_blank"><img src="http://img-webike-370429.c.cdn77.org/gcm/th/email/Moto_news/20170227-1.jpg" alt="hilight news" width="100%"></a>
    </columns>
  </row>
  <row class="caption">
    <columns small="12" large="5">
      <a class="text-black" href="http://thai.webike.net/news/th/%E0%B8%AD%E0%B8%A2%E0%B9%88%E0%B8%B2%E0%B8%A1%E0%B8%B1%E0%B8%A7%E0%B8%A3%E0%B8%AD%E0%B8%8A%E0%B9%89%E0%B8%B2-%E0%B8%AB%E0%B8%A1%E0%B8%A7%E0%B8%81-deadpool-%E0%B9%81%E0%B8%A5%E0%B8%B0-ghost-rider.html?utm_source=webikestyle&utm_medium=th_motonews&utm_campaign=[date]" target="_blank"><h5><b>อย่ามัวรอช้า หมวก Deadpool และ Ghost Rider เตรียมจ่อตลาดแล้ว!</b></h5></a>
    </columns>
    <columns class="pd-l-sm" small="12" large="7">
      <a href="http://thai.webike.net/news/th/%E0%B8%AD%E0%B8%A2%E0%B9%88%E0%B8%B2%E0%B8%A1%E0%B8%B1%E0%B8%A7%E0%B8%A3%E0%B8%AD%E0%B8%8A%E0%B9%89%E0%B8%B2-%E0%B8%AB%E0%B8%A1%E0%B8%A7%E0%B8%81-deadpool-%E0%B9%81%E0%B8%A5%E0%B8%B0-ghost-rider.html?utm_source=webikestyle&utm_medium=th_motonews&utm_campaign=[date]" target="_blank"><p>เป็นใครไปไม่ได้นอกจาก HJC ที่จะทำหมวกกันน็อคซุปเปอร์ฮีโร่ออกมาขาย เราเห็นกันทั้งไอรอนแมน กัปตันอเมริกากันไปแล้ว คราวนี้ถึงตาฮีโร่สุดสวนอย่าง Deadpool และชายผู้ขี่ VMAX ล้อติดไฟอย่าง Ghost Rider...</p></a>
      <button href="http://thai.webike.net/news/th/%E0%B8%AD%E0%B8%A2%E0%B9%88%E0%B8%B2%E0%B8%A1%E0%B8%B1%E0%B8%A7%E0%B8%A3%E0%B8%AD%E0%B8%8A%E0%B9%89%E0%B8%B2-%E0%B8%AB%E0%B8%A1%E0%B8%A7%E0%B8%81-deadpool-%E0%B9%81%E0%B8%A5%E0%B8%B0-ghost-rider.html?utm_source=webikestyle&utm_medium=th_motonews&utm_campaign=[date]" class="small expanded" target="_blank">อ่านเพิ่มเติม</button>
    </columns>
  </row>
</columns>