<columns small="12" large="12">
  <img src="http://img-webike-370429.c.cdn77.org/gcm/th/email/Moto_news/Moto-news-cover.jpg" alt="Webike Thailand Moto News">
  <row class="menu">
      <columns small="2" large="2">
        <a href="http://thai.webike.net/Moto/HONDA/?utm_source=webikestyle&utm_medium=th_motonews&utm_campaign=[date]" target="_blank">HONDA</a>
      </columns>
      <columns small="2" large="2">
        <a href="http://thai.webike.net/Moto/YAMAHA/?utm_source=webikestyle&utm_medium=th_motonews&utm_campaign=[date]" target="_blank">YAMAHA</a>
      </columns>
      <columns small="2" large="2">
        <a href="http://thai.webike.net/Moto/SUZUKI/?utm_source=webikestyle&utm_medium=th_motonews&utm_campaign=[date]" target="_blank">SUZUKI</a>
      </columns>
      <columns small="2" large="2">
        <a href="http://thai.webike.net/Moto/KAWASAKI/?utm_source=webikestyle&utm_medium=th_motonews&utm_campaign=[date]" target="_blank">KAWASAKI</a>
      </columns>
      <columns small="2" large="2">
        <a href="https://thai.webike.net/oem_parts/?utm_source=webikestyle&utm_medium=th_motonews&utm_campaign=[date]" target="_blank">อะไหล่แท้</a>
      </columns>
      <columns small="2" large="2">
        <a href="http://thai.webike.net/bm/top/Custom+Parts/1000/?utm_source=webikestyle&utm_medium=th_motonews&utm_campaign=[date]" target="_blank">อะไหล่แต่ง</a>
      </columns>
  </row>
</columns>