<columns small="12" large="12">
  <row class="bd-btm-sm">
    <columns class="pd-t-sm" small="12" large="4">
      <a class="text-black" target="_blank" href="http://thai.webike.net/news/th/shoei-x-14-honda-graphic.html?utm_source=webikestyle&utm_medium=th_motonews&utm_campaign=[date]"><img width="196px" height="196px" src="http://img.webike.net/gcm/th/email/Moto_news/20170220-5.png" alt="hilight news 5"></a>
    </columns>
    <columns class="pd-l-sm pd-t-sm" small="12" large="8">
      <a class="text-black" target="_blank" href="http://thai.webike.net/news/th/shoei-x-14-honda-graphic.html?utm_source=webikestyle&utm_medium=th_motonews&utm_campaign=[date]"><h6><b>Shoei X-14 ลงสามสีลาย Honda!</b></h6></a>
      <a target="_blank" href="http://thai.webike.net/news/th/shoei-x-14-honda-graphic.html?utm_source=webikestyle&utm_medium=th_motonews&utm_campaign=[date]"><p>ไม่ยอมน้อยหน้า Arai เช่นกันกับผู้ผลิตหมวกกันน็อคชั้นนำอย่าง Shoei ที่ออกลายหมวกกันน็อคพรีเมี่ยมของตัวเองออกมาเป็นลายของ Honda...</p></a>
      <button href="http://thai.webike.net/news/th/shoei-x-14-honda-graphic.html?utm_source=webikestyle&utm_medium=th_motonews&utm_campaign=[date]" class="" target="_blank">อ่านเพิ่มเติม</button>
    </columns>
  </row>
  <row class="bd-btm-sm">
    <columns class="pd-t-sm" small="12" large="4">
      <a class="text-black" target="_blank" href="http://thai.webike.net/news/th/caution-idling-stop.html?utm_source=webikestyle&utm_medium=th_motonews&utm_campaign=[date]"><img width="196px" height="196px" src="http://img.webike.net/gcm/th/email/Moto_news/20170220-6.png" alt="hilight news 6"></a>
    </columns>
    <columns class="pd-l-sm pd-t-sm" small="12" large="8">
      <a class="text-black" target="_blank" href="http://thai.webike.net/news/th/caution-idling-stop.html?utm_source=webikestyle&utm_medium=th_motonews&utm_campaign=[date]"><h6><b>ข้อควรระวังเมื่อใช้ Idling Stop</b></h6></a>
      <a target="_blank" href="http://thai.webike.net/news/th/caution-idling-stop.html?utm_source=webikestyle&utm_medium=th_motonews&utm_campaign=[date]"><p>Idling Stop นี้จะตัดระบบการทำงานของเครื่องยนต์เมื่อรถหยุดนิ่งเกินกว่า 3 วินาที และจะสตาร์ทเครื่องเองเมื่อเราบิดคันเร่ง โดยไม่จำเป็นต้องกดปุ่มสตาร์ทเครื่องให้เสียเวลา ฟังก์ชั่นนี้จะช่วยประหยัดน้ำมันไปมากโขเลยทีเดียว...</p></a>
      <button href="http://thai.webike.net/news/th/caution-idling-stop.html?utm_source=webikestyle&utm_medium=th_motonews&utm_campaign=[date]" class="" target="_blank">อ่านเพิ่มเติม</button>
    </columns>
  </row>
  <row>
    <columns class="pd-t-sm" small="12" large="4">
      <a class="text-black" target="_blank" href="http://thai.webike.net/news/th/end-production-yamaha-vmax-2017.html?utm_source=webikestyle&utm_medium=th_motonews&utm_campaign=[date]"><img width="196px" height="196px" src="http://img.webike.net/gcm/th/email/Moto_news/20170220-7.png" alt="hilight news 7"></a>
    </columns>
    <columns class="pd-l-sm pd-t-sm" small="12" large="7">
      <a class="text-black" target="_blank" href="http://thai.webike.net/news/th/end-production-yamaha-vmax-2017.html?utm_source=webikestyle&utm_medium=th_motonews&utm_campaign=[date]"><h6><b>อำลา Yamaha VMAX สุดยอดอาชาของ Ghost Rider</b></h6></a>
      <a target="_blank" href="http://thai.webike.net/news/th/end-production-yamaha-vmax-2017.html?utm_source=webikestyle&utm_medium=th_motonews&utm_campaign=[date]"><p>คงจะรู้จักกันเป็นอย่างดีสำหรับ Yamaha VMAX ยอดอาชาของ Ghost Rider ภาค 2 ที่ล้อสามารถติดไฟได้ และทนความร้อนได้สูงมากขับยังไงก็ไม่ระเบิดซักที ใครซื้อมาคร่อมปุ๊บจะโดนจิตวิญญาณนักบิดเข้าสิงทันที...</p></a>
      <button href="http://thai.webike.net/news/th/end-production-yamaha-vmax-2017.html?utm_source=webikestyle&utm_medium=th_motonews&utm_campaign=[date]" class="" target="_blank">อ่านเพิ่มเติม</button>
    </columns>
  </row>
</columns>